<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Zetafin Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1 align="center">数字货币交易系统交易数据统计</h1>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-condensed table-hover">
				<thead>
					<tr>
						<th>
							交易币对
						</th>
						<th>
							交易数量
						</th>
						<th>
							机器人/机器人
						</th>
						<th>
							机器人/用户
						</th>
                        <th>
							用户/用户
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class = 'alert-success'>各币对24小时交易量
						<td>
                            BTC/USDT
						</td>
						<td>
							{{ a1 }}
						</td>
						<td>
							{{ a2 }}
						</td>
						<td>
							{{ a3 }}
						</td>
                        <td>
                            {{ a4 }}
                        </td>
					</tr>
                    <tr class = 'alert-success'>
						<td>
                            ETH/USDT
						</td>
						<td>
							{{ b1 }}
						</td>
						<td>
							{{ b2 }}
						</td>
						<td>
							{{ b3 }}
						</td>
                        <td>
                            {{ b4 }}
                        </td>
					</tr>
                    <tr class = 'alert-success'>
						<td>
                            BCH/USDT
						</td>
						<td>
							{{ c1 }}
						</td>
						<td>
							{{ c2 }}
						</td>
						<td>
							{{ c3 }}
						</td>
                        <td>
                            {{ c4 }}
                        </td>
					</tr>
                    <tr class = 'alert-success'>
						<td>
                            LTC/USDT
						</td>
						<td>
							{{ d1 }}
						</td>
						<td>
							{{ d2 }}
						</td>
						<td>
							{{ d3 }}
						</td>
                        <td>
                            {{ d4 }}
                        </td>
					</tr>
                    <tr class = 'alert-danger'>
						<td>
                            ETH/BTC
						</td>
						<td>
							{{ e1 }}
						</td>
						<td>
							{{ e2 }}
						</td>
						<td>
							{{ e3 }}
						</td>
                        <td>
                            {{ e4 }}
                        </td>
					</tr>
                    <tr class = 'alert-danger'>
						<td>
                            BCH/BTC
						</td>
						<td>
							{{ f1 }}
						</td>
						<td>
							{{ f2 }}
						</td>
						<td>
							{{ f3 }}
						</td>
                        <td>
                            {{ f4 }}
                        </td>
					</tr>
                    <tr class = 'alert-danger'>
						<td>
                            LTC/BTC
						</td>
						<td>
							{{ g1 }}
						</td>
						<td>
							{{ g2 }}
						</td>
						<td>
							{{ g3 }}
						</td>
                        <td>
                            {{ g4 }}
                        </td>
					</tr>
                    <tr class = 'alert-warning'>
						<td>
                            LTC/ETH
						</td>
						<td>
							{{ h1 }}
						</td>
						<td>
							{{ h2 }}
						</td>
						<td>
							{{ h3 }}
						</td>
                        <td>
                            {{ h4 }}
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>