<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口列表</title>
</head>
<body>

    <form action="/add_interface/" method="post">
        <input name="it_name"type="text"placeholder="it_name"><br>
        <input name="it_method"type="text"placeholder="it_method"><br>
        <input name="it_desc"type="text"placeholder="it_desc"><br>
        <input name="it_address"type="text"placeholder="it_address"><br>
        <input name="it_format"type="text"placeholder="it_format"><br>
        <button id="btn" type="submit">新增接口</button>
    </form>

</body>
</html>